/* Step 1 */
h1.title {
    text-align: center;
    border-bottom: 2px solid;
    border-color: black;
    position: fixed;
    top: 0px;
    left: 0px;
    margin-top: 0px;
    width: 100%;
    background-color: lightgrey;
    opacity: 0.8;
    font-family: 'Roboto', sans-serif;
    z-index: 100;
}

/* Step 2. */
body {
	margin-top: 40px;

	/* Step6. NO TALK */
    background-image: url('../img/sh_bkgr.png');
    background-size: cover;
}

/* Step 3. */
div.note {
    float: left;
    margin: 4px;
    min-width: 400px;
    min-height: 200px;
    border: 1px solid;
    border-color: lightgrey;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    opacity: 0.8;

    /* Step 5. */
    transition: all 0.4s;
}

/* Step 4. */
div.note:hover {
	background-color: white;
    box-shadow: 4px 4px 4px lightgrey;	
    border-color: black;
    opacity: 1.0;
}

/* Step 5. NO TALK*/
div.note p.title {
    width: 100%;
    margin-bottom: 8px;
    padding-bottom: 4px;
    border-bottom: 2px dotted;
    border-color: black;
    font-family: verdana;
}